<?version="1.0" encoding="UTF-8" ?>
<widget id="io.cordova.adifirstgame" 
        version="0.0.1" 
        android-versionCode="13" 
        xmlns="http://www.w3.org/ns/widgets" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
</widget>

    <!-- versionCode is optional and Android only -->

    <name>Gun Shooter</name>

    <description>Adi's first Scratch PhoneGap game!</description>
  
    <author href="foo.com" email="foo@bar.com">tuneableice</author>  

    <icon src="icon.png" />
        
    <content src="index.html" />
     
    <access origin="*" />

</widget>
